:root{
    --main-bg-color: #10131C;

    --main-font-color: #E2EEFF;
    --light-blue-font-color: #15B5E2;
}

.flipper-red{
    background-color: #EC7063;
}

.flipper-purple{
    background-color: #A569BD;
}

.flipper-blue{
    background-color: #85C1E9;
}

.flipper-green{
    background-color: #73C6B6;
}

.flipper-yellow{
    background-color: #F8C471;
    /*background-image: url('http://www.snazzyspace.com/defaultimages/b7241a_pizza-pepperoni.gif');*/
    color:#922B21;
    font-family: var(--secondary-font);
}