.clip-text_fourteen {
    background-image: url('../img/abstract-colorful-vectors-design.png');
}

.clip-text--cover, .clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.clip-text {
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
