@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Nothing+You+Could+Do');

:root{
   --main-font: 'Roboto', sans-serif;
   --secondary-font: 'Gloria Hallelujah', cursive;

   --main-font-size: 16px;
   --main-line-height: 32px;
   
   --large-font-size: 2em;

   --big-font-size: 4em;
   --big-line-height: 1em;

   --huge-font-size: 1.5em;
   --huge-line-height: 2em;
}

html{
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
}

.secondary-font{
    font-family: var(--secondary-font);
}