--- 
layout: default 
---

<article class="post">
    <div class="post__header">
        <a class="post__header__back-button fa fa-arrow-left" aria-hidden="true" href="{{ site.baseurl }}/"></a>
        <div class="post__header__title">{{ page.title }}</div>
        <div class="post__header__categories">{{ page.categories }}</div>
    </div>
    <div class="post__splash-image" style="background-image: url({{ page.image }})"></div>
    <div class="post__content__progress-bar"></div>
    <section class="post__content">
        {{ content }}
    </section>
    <div class="post__thank-you">Thank you for reading!</div>
    <div class="post__relevant-posts">
        {% if page.previous.url %}
        <a class="post__relevant-posts__item" href="{{ page.previous.url | prepend: site.baseurl }}" itemprop="url">
            <img class="post__relevant-posts__item__image" src="{{ page.previous.image }}"></img>
            <div class="post__relevant-posts__item__body">
                <div class="post__relevant-posts__item__body__category" href="{{ site.baseurl }}/{{ site.category_dir | default: 'category' }}/{{ page.previous.categories }}/{{ category | downcase | slugify }}">{{ page.previous.categories }}</div>
                <div class="post__relevant-posts__item__body__title">{{ page.previous.title }}</div>
                <div class="post__relevant-posts__item__body__date">{{ page.previous.date | date: "%b %-d, %Y" }}</div>
                <div class="post__relevant-posts__item__body__extract">{{ page.previous.extract }}</div>
            </div>
        </a>
        {% endif %}
        {% if page.next.url %}
        <a class="post__relevant-posts__item" href="{{ page.next.url | prepend: site.baseurl }}" itemprop="url">
            <img class="post__relevant-posts__item__image" src="{{ page.next.image }}"></img>
            <div class="post__relevant-posts__item__body">
                <div class="post__relevant-posts__item__body__category" href="{{ site.baseurl }}/{{ site.category_dir | default: 'category' }}/{{ page.next.categories }}/{{ category | downcase | slugify }}">{{ page.next.categories }}</div>
                <div class="post__relevant-posts__item__body__title">{{ page.next.title }}</div>
                <div class="post__relevant-posts__item__body__date">{{ page.next.date | date: "%b %-d, %Y" }}</div>
                <div class="post__relevant-posts__item__body__extract">{{ page.next.extract }}</div>
            </div>
        </a>
        {% endif %}
    </div>
</article>